@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin 'daisyui' {
  themes: corporate --default;
  exclude: rootscrollgutter;
}

@import './theme.css';

@theme {
  --font-sans:
    'Roboto Flex', 'Roboto', 'ui-sans-serif', 'system-ui', 'sans-serif', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
  :root {
    @apply bg-base-200 text-base-content h-full md:overflow-y-scroll;
  }

  :root:has(*:is(.expanded-popout)) {
    @apply md:overflow-hidden;
  }

  :root,
  body,
  .container-main {
    @apply flex flex-col items-stretch;
  }

  body {
    @apply bg-base-200 text-base-content p-0 antialiased;
  }

  #root {
    @apply mx-0 flex flex-col items-center;
  }

  :root:has(*:is(.layout-full)) {
    @apply h-full items-stretch justify-items-stretch;
  }

  body:has(*:is(.layout-full)),
  body:has(*:is(.layout-full)) > #root {
    @apply basis-full items-stretch justify-items-stretch;
  }

  body:has(*:is(.layout-full)) > header:first-of-type {
    @apply justify-self-start;
  }

  body:has(*:is(.layout-full)) > .container-main {
    @apply basis-full items-stretch justify-items-stretch;
  }

  body:has(*:is(.layout-full)) > .container-main > :has(~ .layout-content) {
    @apply justify-self-start;
  }

  body:has(*:is(.layout-full)) > .container-main > .layout-content ~ :not(.layout-content) {
    @apply justify-self-end;
  }

  body:has(*:is(.layout-full)) > .container-main > .layout-content {
    @apply basis-full;
  }

  /* Firefox */
  @supports (-moz-appearance: none) {
    * {
      scrollbar-width: thin;
      scrollbar-color: theme('colors.info') theme('colors.base-200');
    }
  }

  /* Chrome, Edge, and Safari */
  @supports selector(::-webkit-scrollbar) {
    * {
      scrollbar-width: unset;
      scrollbar-color: unset;
    }

    *::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    *::-webkit-scrollbar-track {
      background-color: theme('colors.base-100');
    }

    *::-webkit-scrollbar-thumb {
      background-color: theme('colors.info');
      border-radius: 8px;
      border: 1px solid theme('colors.base-100');
    }
  }
}

.modal {
  &.modal-open,
  &[open],
  &:target {
    @apply bg-black/75;
  }
}
