@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import "tailwindcss";
@import './theme.css';

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: corporate --default;
  exclude: rootscrollgutter;
};

@theme {
  --font-sans: "Roboto Flex", "Roboto", "ui-sans-serif", "system-ui", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  :root {
    @apply bg-base-200 text-base-content h-full md:overflow-y-scroll;
  }

  :root:has(*:is(.expanded-popout)) {
    @apply md:overflow-hidden;
  }

  :root, body, .container-main {
    @apply flex flex-col items-stretch;
  }

  body {
    @apply antialiased p-0 bg-base-200 text-base-content;
  }

  #root {
    @apply flex flex-col items-center mx-0;
  }

  :root:has(*:is(.layout-full)) {
    @apply justify-items-stretch items-stretch h-full;
  }

  body:has(*:is(.layout-full)), body:has(*:is(.layout-full)) > #root {
    @apply justify-items-stretch items-stretch basis-full;
  }

  body:has(*:is(.layout-full)) > header:first {
    @apply justify-self-start;
  }

  body:has(*:is(.layout-full)) > .container-main {
    @apply basis-full justify-items-stretch items-stretch;
  }

  body:has(*:is(.layout-full)) > .container-main > :has(~ .layout-content) {
    @apply justify-self-start;
  }

  body:has(*:is(.layout-full)) > .container-main > .layout-content ~ :not(.layout-content) {
    @apply justify-self-end;
  }

  body:has(*:is(.layout-full)) > .container-main > .layout-content {
    @apply basis-full;
  }

  /* Firefox */
  @supports (-moz-appearance: none) {
    * {
      scrollbar-width: thin;
      scrollbar-color: theme('colors.info') theme('colors.base-200');
    }
  }

  /* Chrome, Edge, and Safari */
  @supports selector(::-webkit-scrollbar) {
    * {
      scrollbar-width: unset;
      scrollbar-color: unset;
    }

    *::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    *::-webkit-scrollbar-track {
      background-color: theme('colors.base-100');
    }

    *::-webkit-scrollbar-thumb {
      background-color: theme('colors.info');
      border-radius: 8px;
      border: 1px solid theme('colors.base-100');
    }
  }
}

.modal {
  &.modal-open, &[open], &:target {
    @apply bg-black/75;
  }
}
