@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import "tailwindcss";
@import './theme.css';

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: siren --default;
  exclude: rootscrollgutter;
};

@theme {
  --font-sans: "Roboto Flex", "Roboto", "ui-sans-serif", "system-ui", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  body {
    @apply antialiased flex flex-col items-stretch p-0 bg-base-200 text-base-content bg-[url('assets/page-bg.jpg')] bg-cover;
  }

  #root {
    @apply flex flex-col items-center mx-0;
  }

  /* Firefox */
  @supports (-moz-appearance: none) {
    * {
      scrollbar-width: thin;
      scrollbar-color: theme('colors.info') theme('colors.base-200');
    }
  }

  /* Chrome, Edge, and Safari */
  @supports selector(::-webkit-scrollbar) {
    * {
      scrollbar-width: unset;
      scrollbar-color: unset;
    }

    *::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    *::-webkit-scrollbar-track {
      background-color: theme('colors.base-100');
    }

    *::-webkit-scrollbar-thumb {
      background-color: theme('colors.info');
      border-radius: 8px;
      border: 1px solid theme('colors.base-100');
    }
  }
}

.modal {
  &.modal-open, &[open], &:target {
    @apply bg-black/75;
  }
}
