@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    background: none;
  }

  body {
    background: url('assets/page-bg.jpg') fixed;
    background-color: theme('colors.base-100');
    background-size: cover;
    @apply flex flex-col items-stretch p-0;
  }

  #root {
    @apply flex flex-col items-center mx-0;
  }
}
