
@plugin "daisyui/theme" {
  name: "siren";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(21% 0.034 264.665);
  --color-base-200: oklch(27% 0.033 256.848);
  --color-base-300: oklch(37% 0.034 259.733);
  --color-base-content: oklch(96% 0.003 264.542);
  --color-primary: oklch(48% 0.243 264.376);
  --color-primary-content: oklch(93% 0.032 255.585);
  --color-secondary: oklch(85% 0.138 181.071);
  --color-secondary-content: oklch(38% 0.063 188.416);
  --color-accent: oklch(78% 0.115 274.713);
  --color-accent-content: oklch(35% 0.144 278.697);
  --color-neutral: oklch(44% 0.017 285.786);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
